<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/buttonPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,560},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/menuPanel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
			<key>res/buttonRedNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,754},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/buttonGreenNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,948},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/buttonYellowNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,560},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>Ball_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Darkgray.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_LightGray.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1001},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Bar10.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,456},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar4.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,754},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar5.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,854},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,890},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar7.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,754},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar8.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,556},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar9.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,456},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>res/blue_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,456},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>grey_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,656},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,556},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,645},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>res/grey_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,813},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/buttonCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,745},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/blue_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,698},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/blue_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,645},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>element_blue_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,709},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_blue_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,592},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_green_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,609},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_green_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,524},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_grey_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,456},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_grey_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,456},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_purple_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,524},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_purple_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,560},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_red_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,456},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_red_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,596},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_yellow_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,745},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_yellow_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,492},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spriteSheet.png</string>
			<key>realTextureFileName</key>
			<string>spriteSheet.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>