<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/buttonPressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,474},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/buttonRedNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,668},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/buttonGreenNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,862},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>res/buttonYellowNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,915},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>Ball_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Brown.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Darkgray.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_LightGray.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Ball_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1004},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>Bar10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,968},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar4.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,968},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar5.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,474},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,574},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar7.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,674},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar8.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,774},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>Bar9.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,810},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>
			<key>res/blue_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,266},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>grey_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,474},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,266},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,319},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>res/grey_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,355},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/buttonCancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,595},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/blue_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,510},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/blue_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,550},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>element_blue_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,372},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_blue_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,672},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_green_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,372},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_green_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,708},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_grey_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,319},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_grey_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,635},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_purple_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,527},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_purple_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,671},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_red_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,595},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_red_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,590},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_yellow_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,663},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_yellow_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,744},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,370},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>element_yellow_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,731},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_purple_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,707},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_green_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,626},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_blue_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,767},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_green_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,527},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_grey_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,474},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_purple_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,355},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_red_rectangle_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,423},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>element_blue_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,662},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_grey_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,780},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_red_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,816},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>element_yellow_square_glossy.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,510},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Stone_GreenRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,635},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>Stone_RedGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,459},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneExclamationMark_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,395},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneExclamationMark_Purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,546},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StonePlus_GreenRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,582},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StonePlus_RedGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,852},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneQuestionMark_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,888},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneQuestionMark_Purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,924},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneX_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,960},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneX_DarkGray.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,743},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>StoneX_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,698},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Fruit_Apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,440},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>Fruit_Banana.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,779},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Fruit_Grape.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,815},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Fruit_Orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,440},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>hudHeart_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>hudHeart_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,134},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spriteSheet.png</string>
			<key>realTextureFileName</key>
			<string>spriteSheet.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>